@font-face {
  font-family: 'Iosevka ExtraBold';
  src: url('./fonts/IosevkaNerdFont-ExtraBold.ttf');
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: 'Iosevka Bold';
  src: url('./fonts/IosevkaNerdFont-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Iosevka Medium';
  src: url('./fonts/IosevkaNerdFont-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Iosevka Light';
  src: url('./fonts/IosevkaNerdFont-Light.ttf');
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: 'Iosevka ExtraLight';
  src: url('./fonts/IosevkaNerdFont-ExtraLight.ttf');
  font-weight: lighter;
  font-style: normal;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #041C32 !important;
}

.flashcard {
  width: 90vw;
  height: 70vh;
  perspective: 1000px;
  position: relative;
  margin: 100px auto;
  font-size: 50px;
}

.flashcard-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.front,
.back {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  backface-visibility: hidden;
  transition: transform 0.8s;
  border: 1px solid transparent;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform 0.5s ease-in-out;
  overflow: auto;
}

.front {
  transform: rotateX(0deg);
  background-color: rgba(182, 187, 192, 0.08) !important;
  font-family: 'Iosevka Bold';
}

.back {
  transform: rotateX(180deg);
  background-color: rgba(182, 187, 192, 0.2) !important;
  font-family: 'Iosevka Light';
}

/* Button Styles */
.button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.slide-left {
  transform: translateX(-120%);
}

.slide-right {
  transform: translateX(120%);
}

/* Previous Button */
#prev {
  background-color: #064663;
  color: #ffffff;
}

/* Next Button */
#next {
  background-color: #064663;
  color: #ffffff;
}

/* File Upload Button */
#csvFile {
  background-color: #ECB365;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Hover Effect */
.button:hover, #csvFile:hover {
  background-color: #f6f7f9;
  color: #3e92cc;
}

#prev-btn-container {
  margin-right: 20vw;
}

#next-btn-container {
  margin-left: 20vw;
}

.buttons-container {
  margin-bottom: 20px;
}

#heading-first {
  font-family: "Iosevka ExtraLight";
  color: white !important;
  font-size: 10vw;
}

#heading-last {
  font-family: "Iosevka Medium";
  color: white !important;
  font-size: 10vw;
}

/*Dialog Styles*/
dialog {
  font-family: "Iosevka Medium";
	padding: 1rem 3rem;
	background: white;
	max-width: 400px;
	padding-top: 2rem;
	border-radius: 20px;
	border: 0;
  text-align: left !important;
	box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
	animation: fadeIn 1s ease both;
	&::backdrop {
		animation: fadeIn 1s ease both;
		background: rgb(255 255 255 / 10%);
		z-index: 2;
		backdrop-filter: blur(20px);
	}
	.x {
		filter: grayscale(1);
		border: none;
		background: none;
		position: absolute;
		top: 15px;
		right: 10px;
		transition: ease filter, transform 0.3s;
		cursor: pointer;
		transform-origin: center;
		&:hover {
			filter: grayscale(0);
			transform: scale(1.1);
		}
	}
	h2 {
		font-weight: 600;
		font-size: 2rem;
		padding-bottom: 1rem;
	}
	p {
		font-size: 1rem;
		line-height: 1.3rem;
		padding: 0.5rem 0;
		a {
			&:visited {
				color: rgb(var(--vs-primary));
			}
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}